.ion-text-center {
  margin: 20px; /* Espaciado alrededor del contenedor */
}

.attendance-message {
  margin: 15px 0; /* Espaciado arriba y abajo del mensaje */
  font-size: 18px; /* Tamaño de fuente del mensaje */
  color: #666; /* Color del texto */
}

/* Estilo opcional para el botón de cerrar sesión */
ion-button {
  margin-top: 20px; /* Espacio arriba del botón */
}
